.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: inline-block;
  padding: 7px 10px;
  border: 10px solid #000000;
  margin: 10px 10px 0;
  border-radius: 10px;
  text-decoration: none;
  color: #4b3187;
  text-align: center;
}

input{
  font-size: 50px;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 25px;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: center;
}